//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import "~github-markdown-css/github-markdown.css";

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 55px;
  }
}

#main {
  min-height: 65vh;
}

.none{
  display: none !important;
}


